body{
  width: 800px;
  height: 900px;
  border: solid;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;

}


main{
  display:flex;
  flex-direction: column;
  background-color: rgb(233, 229, 229);
}

.top{
  
  
  display: flex;
  flex-direction: row;
  align-items: top;
  

}

.informacion-izquierda{
  display:flex;
  flex-direction: row;
  padding: 20px;
  border: solid;
  border-right: +1px;
  border-color: rgb(99, 96, 96);
  padding-bottom: 40px;
  width: 20%px;
  align-items: center;
}


.informacion-centro{
display:flex;
flex-direction: column;
border:solid;
border-color: rgb(99, 96, 96);
width: 40%px;
justify-content: center;

}
.hojadepersonaje{
 height: 80px;
}
.idiomasygrado{
  display: flex;
  flex-direction: row; 



}
.idiomas{
flex:1;
}

.grado{

}









.informacion-derecha{
  
  width: 30%px;
  height: ;
}










.middle{
  background-color: rgb(122, 84, 27);
  flex:1;
}
.bottom{
  background-color: blueviolet;
  flex:1;
}